@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a,
* a:hover,
* a:focus,
* a:active,
* a:visited {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
* li {
  list-style-type: none;
}

html {
  min-height: 100vh;
  max-width: 100vw;
}

body {
  color: #353535;
  font-weight: 400;
  width: 100%;
  font-size: 12px;
  overflow-x: hidden;
}
body h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 1.4rem;
  color: #19647e;
}
body h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  padding-left: 1.8rem;
  position: relative;
  color: #017a7b;
}
body h2:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.8rem;
  background-color: #017a7b;
}
body h3 {
  font-size: 1.15rem;
  color: #017a7b;
}
body .h5 {
  font-size: 1rem;
  color: #017a7b;
}

body:not(.container-md) {
  background-color: #f3f3f3;
}

.container-md {
  padding: 0 5rem;
  background-color: #ffffff;
}

nav {
  z-index: 10;
  max-width: 100vw;
  background: linear-gradient(-45deg, #19647e 10%, #017a7b 25%, #19647e 85%, #017a7b 95%);
  box-shadow: 0px 3px 3px rgba(27, 29, 29, 0.7);
  z-index: 20;
}
nav .container-fluid {
  padding: 0 !important;
}
nav .navbar-toggler {
  background-color: #017a7b;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
nav .navbar-toggler:focus, nav .navbar-toggler:active {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: 0 0 3px #f4d35e;
}
nav .navbar-toggler:hover {
  box-shadow: 0 0 3px #f4d35e;
  box-shadow: 0 0 5px #017a7b, 0 0px 20px #19647e;
}
nav .navbar-toggler:hover .line-burger-btn {
  background-color: #f4d35e;
}
nav .navbar-toggler-icon:focus {
  box-shadow: none;
}
nav .navbar-toggler-icon .line-burger-btn {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-top: 3px;
  margin-bottom: 5px;
}
nav .nav-link {
  color: #ffffff;
}
nav .nav-link:hover,
nav .nav-link.active {
  color: #f4d35e;
}
nav .navbar-collapse.show .navbar-nav {
  z-index: 5;
  width: 100vw;
}

.navbar-brand,
footer .footer-brand {
  font-weight: bolder;
  height: 3.3rem;
  display: grid;
  align-content: center;
  color: #000;
}
.navbar-brand .line-1,
footer .footer-brand .line-1 {
  padding-bottom: 0.3rem;
}
.navbar-brand span,
footer .footer-brand span {
  display: inline-block;
  text-align: center;
  width: 2rem;
  box-shadow: -0.3rem -0.2rem 0.33rem #00000067;
  border-radius: 0.2rem;
}

.line-1 span:nth-child(1) {
  animation-delay: 0.6s;
}

.line-1 span:nth-child(2) {
  animation-delay: 0.8s;
}

.line-1 span:nth-child(3) {
  animation-delay: 1s;
}

.line-1 span:nth-child(4) {
  animation-delay: 1.2s;
}

.line-1 span:nth-child(5) {
  animation-delay: 1.4s;
}

.line-2 span:nth-child(1) {
  animation-delay: 1.6s;
}

.line-2 span:nth-child(2) {
  animation-delay: 1.8s;
}

.line-2 span:nth-child(3) {
  animation-delay: 2s;
}

.line-2 span:nth-child(4) {
  animation-delay: 2.2s;
}

.line-2 span:nth-child(5) {
  animation-delay: 2.4s;
}

.line-1 span {
  animation: 3s ease-in-out 2 forwards anim-opacity;
}

.line-2 span {
  animation: 3s ease-in-out 2 forwards anim-opacity;
}

.line-1 span:nth-child(2n+1),
.line-2 span:nth-child(2n) {
  background-color: #017a7b;
  color: #f4d35e;
}

.line-1 span:nth-child(2n),
.line-2 span:nth-child(2n+1) {
  background-color: #f4d35e;
  color: #017a7b;
}

@keyframes anim-opacity {
  from {
    color: transparent;
  }
}
.footer-brand {
  font-size: 1.25rem;
}

.hero {
  position: relative;
  margin-top: 5rem;
  height: 88vh;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.hero__content {
  position: absolute;
  background-color: rgba(37, 129, 129, 0.6);
  box-shadow: 3px 0px 3px rgba(105, 110, 110, 0.7);
  padding: 2.4rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 36rem;
  color: #ffffff;
}
.hero__content .hero__title {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.15rem;
}
.hero__content .hero__body {
  font-size: 1rem;
  font-weight: regular;
  padding-bottom: 1rem;
  max-width: 40ch;
}
.hero__content .hero__cta {
  font-weight: bold;
  color: #19647e;
  background-color: #f4d35e;
  font-size: 1rem;
  max-width: 15rem;
  padding: 0.69rem 0.23rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 3px 3px 3px #19647e;
}

.define-why__img {
  height: auto;
  width: 100%;
  object-fit: cover;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.solutions .card {
  height: auto;
  max-width: 34.3rem;
  object-fit: cover;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.solutions .card-img-overlay {
  width: 100%;
}
.solutions .card-img-overlay .card-title {
  width: 100%;
  background-color: #19647e;
}

.reviews .card,
.activities .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.reviews article img,
.activities article img {
  height: 15.6rem;
  width: auto;
  object-fit: cover;
}
.reviews .card-body,
.activities .card-body {
  height: auto;
}
.reviews .card-body .bi-star-fill,
.activities .card-body .bi-star-fill {
  padding-right: 0.3rem;
  color: #ffc400;
}

footer {
  position: relative;
  font-size: 0.75rem;
}
footer .footer__title {
  position: relative;
  text-transform: uppercase;
}
footer .footer__title:after {
  content: "";
  z-index: 10;
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.05rem;
  width: 100%;
  border-radius: 5rem;
  background-color: white;
}
footer .contact-details .bi-geo-alt-fill,
footer .contact-details .bi-envelope-fill,
footer .contact-details .bi-telephone-fill {
  font-size: 1rem;
}
footer .social-links .bi-facebook,
footer .social-links .bi-twitter,
footer .social-links .bi-instagram,
footer .social-links .bi-linkedin {
  margin-top: 1.8rem;
  font-size: 1.3rem;
}
footer a:hover > .bi,
footer a:hover {
  color: #f4d35e;
}
footer .arrow-up {
  position: absolute;
  top: -1.5rem;
  right: 10%;
  font-size: 3rem;
  color: #f4d35e;
}
footer .arrow-up a {
  padding: 0;
  margin: 0;
}
footer .arrow-up .bi-caret-up-square-fill {
  text-shadow: 0 0 5px rgba(53, 53, 53, 0.7);
}
footer .arrow-up .bi-caret-up-square-fill:hover {
  cursor: pointer;
  text-shadow: inset 0 0 5px #f4d35e;
}

.about-us-title {
  margin-top: 5rem;
}

.presentation__company-pict, .presentation__map-pict {
  height: auto;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.presentation__map-pict {
  height: auto;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.member-pict {
  height: 18.75rem;
  width: 28.1rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.member-name {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 1rem;
  margin: 0;
}

.member-status {
  padding-bottom: 1.2rem;
}

.activities-title {
  margin-top: 5rem;
}

.activities-article {
  position: relative;
  min-height: 12.5rem;
}
.activities-article .btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  bottom: 1rem;
  background-color: #017a7b;
  left: 1rem;
  font-size: inherit;
}
.activities-article .btn:hover {
  background-color: #19647e;
}

.advantage__resume-pict {
  height: auto;
  max-height: 28.1rem;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.services-title {
  margin-top: 5rem;
}

.how-its-work__resume-pict {
  width: auto;
  max-height: 6rem;
}

.school-support__resume-pict,
.extracurricular-activities__img,
.prices__illustration {
  width: auto;
  max-height: 12rem;
}

.school-support__students {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.homework-help__img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.prices__illustration {
  width: auto;
  max-height: 5rem;
}

.bg-green {
  background-color: #017a7b;
}

.bg-blue {
  background-color: #19647e;
}

.txt-white {
  color: #ffffff;
}

.txt-blue {
  color: #19647e;
}

.txt-green {
  color: #017a7b;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 0.875rem;
  }
  body .hero__section-content .hero__section-title {
    font-size: 1.5rem;
  }
  body .hero__section-content .hero__section-body {
    font-size: 1rem;
  }
  body h1 {
    font-size: 1.8rem;
  }
  body h2 {
    font-size: 1.5rem;
  }
  body .h5 {
    font-size: 1.1rem;
  }
  body .advantage__resume-pict {
    max-height: 34.4rem;
  }
  body .footer-content {
    max-width: 48rem;
  }
  body .about-us__company-pict, body .about-us__map-pict {
    height: auto;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  .review .card-body {
    height: 14rem;
  }

  .about-us__content {
    padding: 0 8% 0 0;
  }

  .advantage__resume-pict {
    width: 100%;
  }
  .advantage__resume-caption {
    width: 95%;
  }

  .activities .card-body {
    height: 14rem;
  }
}
@media screen and (min-width: 992px) {
  .review .card-body {
    height: 16rem;
  }

  .define-why__img {
    width: 90%;
  }

  .advantage__resume-pict {
    height: 24.5rem;
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .define-why__img {
    width: 80%;
  }

  .review .card-body {
    height: 220px;
  }

  .presentation__body {
    max-width: 62ch;
  }
  .presentation__company-pict {
    width: 100%;
    max-height: 19rem;
  }
  .presentation__map-pict {
    max-height: 25rem;
    width: 100%;
  }

  .advantage__resume-pict {
    height: 29rem;
  }
  .advantage__resume-caption, .advantage__resume-pict {
    width: 85%;
  }

  .activities .card-body {
    height: 11.3rem;
  }

  footer .social__links .bi-facebook,
footer .social__links .bi-twitter,
footer .social__links .bi-instagram,
footer .social__links .bi-linkedin {
    font-size: 1.2rem;
  }
  footer .footer-content {
    max-width: 60rem;
  }
}
@media screen and (min-width: 1400px) {
  .activities-article {
    min-height: 13.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
