///////////////////////////////
/// IMPORT FONT FAMILY
///////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

///////////////////////////////
/// COLOR VARIABLES
///////////////////////////////

$clr-yellow: #f4d35e;
$clr-green: #017a7b;
$clr-white: #ffffff;
$clr-blue: #19647e;

$shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$linear-gradient: linear-gradient(
  -45deg,
  $clr-blue 10%,
  $clr-green 25%,
  $clr-blue 85%,
  $clr-green 95%
);
$linear-gradient-2: linear-gradient(
  45deg,
  $clr-blue 10%,
  $clr-green 25%,
  $clr-blue 85%,
  $clr-green 95%
);

/////////////////////////////////////////////////////
/// RESET CSS + STYLES a - li - html - body
/////////////////////////////////////////////////////
// font-family: "Paytone One", sans-serif;
// font-family: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  min-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: #353535;
  font-weight: 400;
  width: 100%;
  font-size: 12px;
  overflow-x: hidden;
  h1 {
    font-family: "Paytone One", sans-serif;
    font-size: 1.4rem;
    color: $clr-blue;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.1;
    padding-left: 1.8rem;
    position: relative;
    color: $clr-green;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 0.8rem;
      background-color: $clr-green;
    }
  }
  a,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    text-decoration: none;
    list-style: none;
    color: inherit;
  }
  li {
    list-style-type: none;
  }
  h3 {
    font-size: 1.15rem;
    color: $clr-green;
  }

  .h5 {
    font-size: 0.9rem;
    color: $clr-green;
  }
  .h6 {
    font-size: 0.8rem;
    color: $clr-green;
  }
}

body:not(.container-md) {
  background-color: #f3f3f3;
}
.container-md {
  padding: 0 5rem;
  background-color: #ffffff;
}

section {
  padding-bottom: 2rem;
}
///////////////////////////////
/// NAVBAR
///////////////////////////////

nav {
  color: white;
  z-index: 10;
  max-width: 100vw;
  // height: 6rem;
  // background-color: $clr-blue;
  background: $linear-gradient;
  box-shadow: 0px 3px 3px rgba(27, 29, 29, 0.7);
  z-index: 20;
  .nav-link:focus {
    color: inherit;
  }
  .container-fluid {
    padding: 0 !important;
  }
  .navbar-toggler {
    background-color: $clr-green;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    &:focus,
    &:active {
      outline: none;
      box-shadow: $shadow;
      box-shadow: 0 0 3px $clr-yellow;
    }
  }
  .navbar-toggler:hover {
    box-shadow: 0 0 3px $clr-yellow;
    box-shadow: 0 0 5px $clr-green, 0 0px 20px $clr-blue;
    .line-burger-btn {
      background-color: $clr-yellow;
    }
  }

  .navbar-toggler-icon {
    &:focus {
      box-shadow: none;
    }
    .line-burger-btn {
      width: 100%;
      float: left;
      height: 2px;
      background-color: #fff;

      margin-top: 3px;
      margin-bottom: 5px;
    }
  }

  .nav-link:hover,
  .nav-link.active {
    color: $clr-yellow;
  }

  // NAV COLLAPSE SHOW
  .navbar-collapse.show .navbar-nav {
    z-index: 5;
    width: 100vw;
  }
}

///////////////////////////////
/// BRAND INSIDE NABAR & FOOTER
/// Animation
///////////////////////////////

.navbar-brand,
footer .footer-brand {
  font-weight: bolder;
  // max-width: 12rem;
  // height: 3.75rem;
  height: 3.3rem;
  display: grid;
  align-content: center;
  color: #000;
  .line-1 {
    padding-bottom: 0.3rem;
  }
  span {
    display: inline-block;
    text-align: center;
    width: 2rem;
    box-shadow: 0.3rem 0.2rem 0.33rem #00000067;
    box-shadow: 0 0 0.33rem #00000067, inset -0.12rem -0.12rem 0.2rem #383838c2,
      -0.3rem -0.2rem 0.63rem #00000067,
      inset 3px 3px 5px rgba(255, 255, 255, 0.418);
    border-radius: 0.2rem;
  }
}

.line-1 span:nth-child(1) {
  animation-delay: 0.6s;
}
.line-1 span:nth-child(2) {
  animation-delay: 0.8s;
}
.line-1 span:nth-child(3) {
  animation-delay: 1s;
}
.line-1 span:nth-child(4) {
  animation-delay: 1.2s;
}
.line-1 span:nth-child(5) {
  animation-delay: 1.4s;
}
.line-2 span:nth-child(1) {
  animation-delay: 1.6s;
}
.line-2 span:nth-child(2) {
  animation-delay: 1.8s;
}
.line-2 span:nth-child(3) {
  animation-delay: 2s;
}
.line-2 span:nth-child(4) {
  animation-delay: 2.2s;
}
.line-2 span:nth-child(5) {
  animation-delay: 2.4s;
}
.line-1 span {
  animation: 3s ease-in-out 2 forwards anim-opacity;
}
.line-2 span {
  animation: 3s ease-in-out 2 forwards anim-opacity;
}
.line-1 span:nth-child(2n + 1),
.line-2 span:nth-child(2n) {
  background-color: $clr-green;
  color: $clr-yellow;
}
.line-1 span:nth-child(2n),
.line-2 span:nth-child(2n + 1) {
  background-color: $clr-yellow;
  color: $clr-green;
}

@keyframes anim-opacity {
  from {
    color: transparent;
  }
}

.footer-brand {
  font-size: 1.25rem;
}

///////////////////////////////
/// HERO SECTION
///////////////////////////////

.hero {
  position: relative;
  margin-top: 5rem;
  height: 88vh;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    box-shadow: $shadow;
  }
  &__content {
    position: absolute;
    background-color: rgba(37, 129, 129, 0.6);
    box-shadow: 3px 0px 3px rgba(105, 110, 110, 0.7);
    padding: 2.4rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 36rem;
    color: $clr-white;
    .hero__title {
      font-family: "Paytone One", sans-serif;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 1.7rem;
      letter-spacing: 0.15rem;
    }
    .hero__body {
      font-size: 1rem;
      font-weight: regular;
      padding-bottom: 1rem;
      max-width: 40ch;
    }
    .hero__cta {
      font-weight: bold;
      color: $clr-blue;
      background-color: $clr-yellow;
      font-size: 1rem;
      max-width: 15rem;
      padding: 0.69rem 0.23rem;
      border-radius: 0.4rem;
      border: none;
      box-shadow: 3px 3px 3px $clr-blue;
    }
  }
}

///////////////////////////////
/// SECTION 1 - Why choose us?
///////////////////////////////

.define-why {
  &__img {
    height: auto;
    width: 100%;
    object-fit: cover;
    float: right;
    box-shadow: $shadow;
  }
}

///////////////////////////////
/// SECTION 2 - Solutions
///////////////////////////////

.solutions {
  .card {
    height: auto;
    max-width: 34.3rem;
    object-fit: cover;
    border: none;
    box-shadow: $shadow;
  }
  .card-img-overlay {
    width: 100%;
    .card-title {
      width: 100%;
      background-color: $clr-blue;
    }
  }
}
///////////////////////////////
/// SECTION 3 - Reviews + ACTIVITIES PAGES
///////////////////////////////

.reviews,
.activities {
  .card {
    box-shadow: $shadow;
  }
  article img {
    height: 15.6rem;
    width: auto;
    object-fit: cover;
  }
  .card-body {
    height: auto;
    // .card-title {
    //   font-weight: 700;
    // }
    .bi-star-fill {
      padding-right: 0.3rem;
      color: rgb(255, 196, 0);
    }
  }
}

///////////////////////////////
/// FOOTER
///////////////////////////////

footer {
  position: relative;
  font-size: 0.75rem;
  .footer__title {
    position: relative;
    text-transform: uppercase;
    &:after {
      content: "";
      z-index: 10;
      position: absolute;
      bottom: -0.3rem;
      left: 50%;
      transform: translateX(-50%);
      height: 0.05rem;
      width: 100%;
      border-radius: 5rem;
      background-color: rgb(255, 255, 255);
    }
  }
  .contact-details {
    .bi-geo-alt-fill,
    .bi-envelope-fill,
    .bi-telephone-fill {
      font-size: 1rem;
    }
  }

  .social-links {
    .bi-facebook,
    .bi-twitter,
    .bi-instagram,
    .bi-linkedin {
      margin-top: 1.8rem;
      font-size: 1.3rem;
    }
  }
  a:hover > .bi,
  a:hover {
    color: $clr-yellow;
  }

  .arrow-up {
    position: absolute;
    top: -1.5rem;
    right: 10%;
    font-size: 3rem;
    color: $clr-yellow;

    a {
      padding: 0;
      margin: 0;
    }
    .bi-caret-up-square-fill {
      text-shadow: 0 0 5px rgba(53, 53, 53, 0.7);
    }
  }
}

///////////////////////////////
/// ABOUT US PAGE
///////////////////////////////

.about-us-title {
  margin-top: 5rem;
}

.presentation {
  &__company-pict,
  &__map-pict {
    height: auto;
    width: 100%;
    object-fit: cover;
    box-shadow: $shadow;
  }
  figcaption {
    color: $clr-green;
  }

  &__map-pict {
    height: auto;
    width: 100%;
    object-fit: cover;
    box-shadow: $shadow;
  }
}

.member-pict {
  height: 18.75rem;
  width: 28.1rem;
  object-fit: cover;
  box-shadow: $shadow;
}
.member-name {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 1rem;
  margin: 0;
}

.member-status {
  padding-bottom: 1.2rem;
}

///////////////////////////////
/// ACTIVITY PAGE
///////////////////////////////
.activities-title {
  margin-top: 5rem;
}

.activities-article {
  position: relative;
  min-height: 12.5rem;

  .btn {
    box-shadow: $shadow;
    position: absolute;
    bottom: 1rem;
    background-color: $clr-green;
    // right: 1rem;
    left: 1rem;
    font-size: inherit;
    &:hover {
      background-color: $clr-blue;
    }
  }
}

.advantage__resume-pict {
  height: auto;
  max-height: 28.1rem;
  width: 100%;
  object-fit: cover;
  box-shadow: $shadow;
}

///////////////////////////////
/// SERVICES PAGE
///////////////////////////////

.services-title {
  margin-top: 5rem;
}

.how-its-work__resume-pict {
  width: auto;
  max-height: 6rem;
}

.school-support__resume-pict,
.extracurricular-activities__img,
.prices__illustration {
  width: auto;
  max-height: 12rem;
}

.school-support__students {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  box-shadow: $shadow;
}

.homework-help__img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  box-shadow: $shadow;
}

.prices__illustration {
  width: auto;
  max-height: 5rem;
}

///////////////////////////////
/// FORM PAGE
///////////////////////////////

form {
  max-width: 768px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid $clr-green !important;
}
.form-info {
  font-weight: 500;
  color: $clr-green;
}

.form-body {
  border: 1px solid $clr-green;
}
///////////////////////////////
/// UTILITIES
///////////////////////////////

.bg-green {
  background-color: $clr-green;
}
.bg-blue {
  background-color: $clr-blue;
}
.txt-white {
  color: $clr-white;
}
.txt-blue {
  color: $clr-blue;
}
.txt-green {
  color: $clr-green;
}

.btn {
  box-shadow: $shadow;
  background-color: $clr-green;
  font-size: inherit;
  color: $clr-white;
  &:hover {
    background-color: $clr-blue;
    color: $clr-yellow;
  }
  &:active,
  &:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }
}

///////////////////////////////
///// MEDIA QUERY
///////////////////////////////

/// Breakpoint Small - sm
@media screen and (min-width: 576px) {
  body {
    font-size: 0.875rem;
    .hero__section-content {
      .hero__section-title {
        font-size: 1.5rem;
      }
      .hero__section-body {
        font-size: 1rem;
      }
    }
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    .h5 {
      font-size: 1.1rem;
    }
    .h6 {
      font-size: 1rem;
    }
    .advantage__resume {
      &-pict {
        max-height: 34.4rem;
      }
    }
    .footer-content {
      max-width: 48rem;
    }
    .about-us {
      &__company-pict,
      &__map-pict {
        height: auto;
        width: 90%;
      }
    }
  }
}

/// Breakpoint Medium - md
@media screen and (min-width: 768px) {
  body,
  .form-control {
    font-size: 0.9rem;
  }
  .review .card-body {
    height: 14rem;
  }
  .about-us__content {
    // max-width: 64ch;
    padding: 0 8% 0 0;
  }
  .advantage__resume {
    &-pict {
      width: 100%;
    }
    &-caption {
      width: 95%;
    }
  }
  .activities .card-body {
    height: 14rem;
  }
}
/// Breakpoint Large -lg
@media screen and (min-width: 992px) {
  .review .card-body {
    height: 16rem;
  }
  .define-why__img {
    width: 90%;
  }

  .advantage__resume {
    &-pict {
      height: 24.5rem;
      width: 80%;
    }
  }
}

/// Breakpoint Large -xl
@media screen and (min-width: 1200px) {
  .define-why__img {
    width: 80%;
  }
  .review .card-body {
    height: 220px;
  }
  .presentation {
    &__body {
      max-width: 62ch;
    }
    &__company-pict {
      width: 100%;
      max-height: 19rem;
    }

    &__map-pict {
      max-height: 25rem;
      width: 100%;
    }
  }

  .advantage__resume {
    &-pict {
      height: 29rem;
    }
    &-caption,
    &-pict {
      width: 85%;
      // width: 100%;
    }
  }

  .activities .card-body {
    height: 11.3rem;
  }

  footer {
    .social__links {
      .bi-facebook,
      .bi-twitter,
      .bi-instagram,
      .bi-linkedin {
        font-size: 1.2rem;
      }
    }
    .footer-content {
      max-width: 60rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  .activities-article {
    min-height: 13.75rem;
  }
}
